# Location to store the database file, logs and generated data.
datadir="/var/lib/proxysql"

# Administration variables
admin_variables=
{    
    admin_credentials="admin:admin;radmin:radmin"    
    # Port for accessing Admin interface using `PostgreSQL` Protocol
    pgsql_ifaces="0.0.0.0:6132"
    web_enabled=true
    web_port=6180
    restapi_enabled=true
    restapi_port=6170
    prometheus_memory_metrics_interval=60
}

pgsql_variables=
{
    # Number of threads used to serve traffic
    threads=2
    # Maximum global number of client connections for `PostgreSQL` interface
    max_connections=2048
    # A defaultly imposed query delay
    default_query_delay=0
    # The default query timeout for backend queries
    default_query_timeout=36000000
    # Retries to perform when failing to create a connection for serving traffic
    connect_retries_on_failure=10
    # Minimal timeout used to detect incoming/outgoing traffic via the `poll` syscall
    poll_timeout=2000
    # Interface to be used for serving traffic
    interfaces="0.0.0.0:6133"
    # Server version that `ProxySQL` will advertise to the client
    server_version="16.1"
    # Timeout to use when creating backend server connections
    connect_timeout_server=3000
    # History to be retained for Monitoring purposes on 'monitor' schema tables
    monitor_history=600000
    # Interval used for Monitor Connect checks
    monitor_connect_interval=60000
    # Timeout used for Monitor Connect checks
    monitor_connect_timeout=600
    # Interval used for Monitor Ping checks
    monitor_ping_interval=8000
    # Timeout used for Monitor Ping checks
    monitor_ping_timeout=1000
    # Interval used for Monitor read_only checks
    monitor_read_only_interval=1000
    # Timeout used for Monitor read_only checks
    monitor_read_only_timeout=800    
    commands_stats=true
    monitor_username="postgres"
    monitor_password="secret"
}

pgsql_users=
({
    username="postgres"
    password="secret"
    default_hostgroup=0
    max_connections=100
    default_schema="db_local_test"
    active=1
})

pgsql_servers=
({
    address="127.0.0.1"
    port=5432
    hostgroup=0
    status="ONLINE"
    weight=1
    compression=0
    max_connections=50
})