global
  daemon
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  maxconn 4096
  tune.ssl.default-dh-param 2048

defaults
  log               global
  retries           3
  maxconn           2000
  timeout connect   5s
  timeout client    50s
  timeout server    50s

listen stats
  bind *:1936
  mode http
  stats enable
  stats uri /stats
  stats show-node

frontend microservice_http_in
  bind *:80
  mode http
  use_backend service_1

backend service_1
  balance roundrobin
  mode http
  option forwardfor
  server host.docker.internal host.docker.internal:9000
