global:
  scrape_interval:      15s
  evaluation_interval:  15s

scrape_configs:
  # optional: Promethus Metrics.
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # Tell Prometheus to scrape metrics on host:port 3000
  - job_name: 'service_local'
    static_configs:
      - targets: ['localhost:3000']

  # Tell Prometheus to scrape metrics on host:port 6070
  - job_name: 'proxysql'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['localhost:6070']
